@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Tangerine&display=swap');

body, h1 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-size {
    max-width: 297mm;
    max-height: 210mm;
    min-width: 297mm;
    min-height: 210mm;
    background-color: #efeff0;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.diplom {
    font-family: 'EB Garamond', bold;
    padding-top: 30mm;
    font-size: 70px;
    padding-bottom: 50px;
}

.name {
    font-family: 'Tangerine';
    font-size: 32px;
}

.underline {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.scanme{
    display: inline-block;
    padding: 10mm 10mm 0 10mm;
    display: inline-flex
}
.serial_number{
    display: inline-block;
    padding: 10mm 10mm 0 10mm;
    text-align: center;
    display: inline-flex
}
.date{
    display: inline-block;
    width: 50mm;
    text-align: center;
}
.footer{
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.clr {
    clear: both;
}